@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: ##fdfcfe;
  --foreground: #171717;
}

/* Register Host Grotesk */
@font-face {
  font-family: 'HostGrotesk';
  src: url('/fonts/HostGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Register Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'HostGrostesk', sans-serif;
  color: #4C4B56;
}
